@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #18181b;
  --title-color: #161616;
  --gray-color: #71717a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #fff;
    --foreground: #18181b;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
}

h1,
h2 {
  color: var(--title-color);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 30px;
}

th {
  color: var(--gray-color);
  font-weight: normal;
}

.gray {
  color: var(--gray-color);
}
